.search {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}

.search h1 {
    text-align: center;
    padding-bottom: 20px;
}

.search__form input {
    margin: 0 auto;
    background-color: transparent;
    border: transparent;
    border-bottom: solid 2px #34495e;
    padding-bottom: 8px;
    width: 25%;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
    box-sizing: border-box;
}

.search__form input:focus {
    outline: none;
}

.search__form button {
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
text-align:center;
transition: all 0.2s;
}
 button:hover{
color:#000000;
background-color:#FFFFFF;
}
@media all and (max-width:30em){
 button {
display:block;
margin:0.4em auto;
}
}